<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/clients" (click)="onSidenavClose()">
        <mat-icon>group_add</mat-icon>
        <span class="nav-caption">Clientes</span>
    </a>
    <a mat-list-item routerLink="/schedules" (click)="onSidenavClose()">
        <mat-icon>book_online</mat-icon>
        <span class="nav-caption">Visitas</span>
    </a>
</mat-nav-list>